@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #wrapper {
    height: 100%;
  }

#content {
    flex-grow: 1;
}

#carre-2 {
  background-image: url("/beers.png");
  background-size: cover;
  background-position: center;
}

#communaute {
  background-image: url("/bg_commu.png");
  background-size: cover;
  background-position: center;
}